<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="BrokerConsoleMain" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} %highlight{%-5level} --- %logger{1} : %msg%n%throwable"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="BrokerConsoleMain"/>
    </Root>
  </Loggers>
</Configuration>
